// Importing FontAwesome for Icons & G fonts.

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,700,900");

// Palette

$white : #FFFFFF;
$black : #000000;

$text-color: #585858;
$effect-color: #330d69;
$font-family: "Source Sans Pro",Helvetica,sans-serif;

$transparent-white : rgba(255, 255, 255, 0.5);

// Theme Variables

* { box-sizing: border-box;}

.btn:hover {
    background-color: $effect-color;
}

a {
    color: $text-color;
    border-bottom: 1px dotted $text-color;
}

a:hover {
    text-decoration: none;
    color: $effect-color;
}

// Main Containers

body {
    text-align: center;
    color: $text-color;

    h1 {
        color: $white;
        padding: 10px;
        text-shadow: 0 0 10px $black;
    }
    
    input, select, textarea {
        -webkit-appearance: none;
        font-family: $font-family;
        font-size: 16pt;
        font-weight: 300;
        line-height: 1.75;
        border-top-left-radius: 0.3rem;
        border-bottom-left-radius: 0.3rem;
    }

    #root {
        width: 100%;
    }
}

#wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#main {
    height: 80vh;
    width: 100%;
}

#header {
    //padding: 1em 0;
    height: 80vh;
    width: 100%;
    position: relative;
    // background: $white;
    // overflow: hidden;
    background-image: url('https://picsum.photos/1920/1080');
    // background-image: url('https://source.unsplash.com/random/1600x900');
    background-repeat: no-repeat;
    background-size: cover;

    div.header-navbox {
        background-color: $transparent-white;
        margin: 0;
        padding: 0;
    }

    div.header-searchbox {
        width: 80%;
        margin: auto;
        position: relative;
        top: 40%;
    }
}

#header .header-navbox {
    width: 100%;
    padding: 10px;
    text-align: center;
    z-index: 2;
    position: fixed;
} 

nav a {
    border-bottom: none;
    background-color: $transparent-white;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

nav .navbar-search {
    display: none;
    width: 50%;

    form {
        background-color: transparent;
        border-radius: 0;
    }

    form div {
        padding: 0;
        margin: 0;
    }
}

// SEARCH BAR

form {

    background-color: $transparent-white;
    border-radius: .3rem;
    box-shadow: 0 0 10px $black;

    /*
    .btn {
        width: 100%;
        background-color: #585858;
        color: #FFFFFF;
        cursor: pointer;
        font-size: .8em;
        font-weight: 900;
        height: 3.5em;
        letter-spacing: .35em;
        padding: 0 1.25em 0 1.6em;
        text-transform: uppercase;
    }
    */
    .btn {
        background-color: $white;
        color: $effect-color;
        border-color: transparent;
        border-radius: 0px;
        border-top-right-radius: 0.3rem;
        border-bottom-right-radius: 0.3rem;
    }

    // .btn:focus {
    //     background-color: $white;
    //     color: $effect-color;
    //     border-color: transparent;
    //     border-radius: 0px;
    //     border-top-right-radius: 0.3rem;
    //     border-bottom-right-radius: 0.3rem;
    // }
    
    .form-row {
        margin: auto;
        padding: 10px;
        justify-content: space-between;
    }
    
}

.form-control {
    height: 3em;
    border: none;
    border-top-right-radius: 0rem;
    border-bottom-right-radius: 0rem;
    color: inherit;
    padding: 1rem;
}

.form-control:focus {
    color: $text-color;
    outline: 0;
    box-shadow: 0 0 0 1.2rem rgba(255,255,255,0);
}

.form-row>.col, .form-row>[class*=col-] {
    padding-right: 1rem;
    padding-left: 1rem;
}

// IMAGES - RESULTS GRID

section {
    justify-content: center;
    padding-top: 1em;
    color: #FFFFFF;
    
    .card {
        width: 250px;
        height: 250px;
        margin: 1em;
    }
    
    .card img {
        width: 250px;
        height: 250px;
        object-fit: cover;
        border-radius: 4px;
    }
} 

.card-body {
    display: block;
    opacity: 0;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    
    div {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
}

.card-body:hover {
    opacity: 100;
}

// FOOTER

#footer {
    height: 20vh;
    padding: 1em 0;
    width: 100%;
    background-color: #F6F6F6;
}

.footer-credits {
    width: 80%;
    margin: auto;
    
    a {
        border: 0;
    }
    
    img {
        width: 15%;
    }
    
    h2 {
        font-size: 1.1em;
        font-weight: 900;
        line-height: 1.5;
        margin: 0px;
        text-transform: uppercase;
        letter-spacing: .35em;
    }
}

.footer-copyright {
    width: 80%;
    margin: auto;
    display: flex;
    padding: 0;
    list-style: none;
    font-size: .8em;
    color: rgba(88,88,88,.5);
    margin-top: 1em;
    line-height: 1;
    
    li {
        border-left: 1px solid rgba(88,88,88,.15);
        padding: 0 1em;
    }
    
    li:first-child {
        border-left: 0;
    }
}

// Responsiveness

@media (max-width: 768px) {
    
    #main {
        width: 100%;

        .row {
            width: 100%;
            margin: 0px;
        }
    }
    
    #header {
        div.header-searchbox {
            background-color: $transparent-white;
            box-shadow: 0 0 10px $black;
            border-radius: .3rem;
            top: 40%;
        }

        h1 {
            color: $effect-color;
            text-shadow: none;
            padding: 10px;
            font-size: 1em;
            line-height: initial;
            margin: 0;
        }
        
        p {
            font-size: 0.7em;
            margin: 0 0 1em;
        }
    }
    
    .header-logo {
        img {
            margin: 0 0 1em;
        }
    }
    
    form {

        background-color: transparent;
        box-shadow: none;
        
        .form-row {
            width: 95%;
        }
        
        .form-row div {
            padding: 0.5em;
        }
    }
    
    section {
        .card {
            width: 80%;
        }
        .card img {
            width: 100%;
        }
    }

    // #footer {
    //     margin: 10px;
    //     padding: 0px;
    // }
    
    .footer-credits {
        width: 95%;
        display: flex;
        justify-content: center;
        align-items: center;
        
        // a {
        //     width: 50%;
        // }
        
        img {
            width: 150px;
        }
        
        h2 {
            margin-bottom: 0;
        }
    }
    
    .footer-copyright {
        width: 95%;
        text-align: center;
        flex-direction: column;
        line-height: initial;
        
        li {
            border-left: 0;
        }
    }
}

@media (min-width: 1200px) { 

    #header {
    
        nav {
            width: 1200px;
            margin: auto;
        }
    
        div.header-searchbox {
            width: 800px;
        }
    }

    section.row {
        margin: 0;
        width: 1200px;
        margin: auto;
    }
    
    .footer-credits {
        width: 1200px;
    }
    
    .footer-copyright {
        width: 1200px;
    }
}