@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,700,900");
* {
  box-sizing: border-box;
}

.btn:hover {
  background-color: #330d69;
}

a {
  color: #585858;
  border-bottom: 1px dotted #585858;
}

a:hover {
  text-decoration: none;
  color: #330d69;
}

body {
  text-align: center;
  color: #585858;
}
body input, body select, body textarea {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 16pt;
  font-weight: 300;
  line-height: 1.75;
}

#root {
  width: 100%;
}

#wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#main {
  width: 80%;
}

#header {
  padding: 1em 0;
}
#header h1 {
  font-size: 2.75em;
  font-weight: 700;
  line-height: 1.3;
  margin: 0 0 1em;
  letter-spacing: -0.035em;
}
#header p {
  margin: 0 0 2em;
}

.header-logo img {
  width: 64px;
  height: 64px;
  margin: 0 0 2.5em;
}
.header-logo a {
  border: 0;
}

form .btn {
  width: 100%;
  background-color: #585858;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 0.8em;
  font-weight: 900;
  height: 3.5em;
  letter-spacing: 0.35em;
  padding: 0 1.25em 0 1.6em;
  text-transform: uppercase;
}
form .form-row {
  width: 80%;
  margin: auto;
}
form .form-row div {
  padding: 0 0 0 2em;
}

.form-control {
  height: 3em;
  border: none;
  border-bottom: 1px solid #585858;
  color: inherit;
  width: 100%;
  border-radius: 0;
}

.form-control:focus {
  color: #585858;
  border-color: #585858;
  outline: 0;
  box-shadow: 0 0 0 1.2rem rgba(255, 255, 255, 0);
}

section {
  justify-content: center;
  padding-top: 1em;
  color: #FFFFFF;
}
section .card {
  width: 250px;
  height: 250px;
  margin: 1em;
}
section .card img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 4px;
}

.card-body {
  display: block;
  opacity: 0;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}
.card-body div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.card-body:hover {
  opacity: 100;
}

#footer {
  padding: 1em 0;
  width: 100%;
  background-color: #F6F6F6;
}

.footer-credits {
  width: 80%;
  margin: auto;
}
.footer-credits a {
  border: 0;
}
.footer-credits img {
  width: 15%;
}
.footer-credits h2 {
  font-size: 1.1em;
  font-weight: 900;
  line-height: 1.5;
  margin: 0 0 1em;
  text-transform: uppercase;
  letter-spacing: 0.35em;
}

.footer-copyright {
  width: 95%;
  margin: auto;
  display: flex;
  padding: 0;
  list-style: none;
  font-size: 0.8em;
  color: rgba(88, 88, 88, 0.5);
  margin-top: 1em;
  line-height: 1;
}
.footer-copyright li {
  border-left: 1px solid rgba(88, 88, 88, 0.15);
  padding: 0 1em;
}
.footer-copyright li:first-child {
  border-left: 0;
}

@media (max-width: 576px) {
  #main {
    width: 100%;
  }

  #header h1 {
    font-size: 1.75em;
    line-height: initial;
    margin: 0;
  }
  #header p {
    font-size: 0.7em;
    margin: 0 0 1em;
  }

  .header-logo img {
    margin: 0 0 1em;
  }

  form .form-row {
    width: 95%;
  }
  form .form-row div {
    padding: 0.5em;
  }

  section .card {
    width: 80%;
  }
  section .card img {
    width: 100%;
  }

  .footer-credits {
    width: 95%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .footer-credits a {
    width: 50%;
  }
  .footer-credits img {
    width: 100%;
  }
  .footer-credits h2 {
    margin-bottom: 0;
  }

  .footer-copyright {
    text-align: left;
    flex-direction: column;
    line-height: initial;
  }
  .footer-copyright li {
    border-left: 0;
  }
}

/*# sourceMappingURL=App.css.map */
