@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,700,900");
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.btn:hover {
  background-color: #330d69;
}

a {
  color: #585858;
  border-bottom: 1px dotted #585858;
}

a:hover {
  text-decoration: none;
  color: #330d69;
}

body {
  text-align: center;
  color: #585858;
}
body h1 {
  color: #FFFFFF;
  padding: 10px;
  text-shadow: 0 0 10px #000000;
  transition: all 1s ease-in-out;
}
body input,
body select,
body textarea {
  -webkit-appearance: none;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 16pt;
  font-weight: 300;
  line-height: 1.75;
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}
body #root {
  width: 100%;
}

#wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#main {
  height: 100vh;
  width: 100%;
}

#header {
  height: 100vh;
  width: 100%;
  position: relative;
  background-image: url("https://picsum.photos/1920/1080");
  background-repeat: no-repeat;
  background-size: cover;
  transition: all 1s ease;
}
#header div.header-navbox {
  background-color: rgba(255, 255, 255, 0.5);
  margin: 0;
  padding: 0;
}
#header div.header-searchbox {
  width: 80%;
  margin: auto;
  position: relative;
  top: 40%;
}

#header .header-navbox {
  width: 100%;
  padding: 10px;
  text-align: center;
  z-index: 2;
  position: fixed;
}

.navbar {
  transition: all 1s ease;
}

nav a {
  border-bottom: none;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

nav .navbar-brand .navbar-title {
  text-transform: uppercase;
}

nav .navbar-search {
  width: 50%;
}
nav .navbar-search form {
  background-color: transparent;
  border-radius: 0.3rem;
}
nav .navbar-search form div {
  padding: 0;
  margin: 0;
}

form {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0.3rem;
  box-shadow: 0 0 10px #000000;
}
form .btn {
  background-color: #FFFFFF;
  color: #330d69;
  border-color: transparent;
  border-radius: 0px;
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}
form .form-row {
  margin: auto;
  padding: 10px;
  justify-content: space-between;
}

.form-control {
  height: 3em;
  border: none;
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
  color: inherit;
  padding: 1rem;
}

.form-control:focus {
  color: #585858;
  outline: 0;
  box-shadow: 0 0 0 1.2rem rgba(255, 255, 255, 0);
}

.form-row > .col,
.form-row > [class*=col-] {
  padding-right: 1rem;
  padding-left: 1rem;
}

section {
  justify-content: center;
  padding-top: 1em;
  color: #FFFFFF;
  transition: all 1s ease;
}
section .card {
  width: 250px;
  height: 250px;
  margin: 1em;
}
section .card img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 4px;
}
section .card .card-body {
  display: flex;
  opacity: 0;
  background: rgba(0, 0, 0, 0.5);
  justify-content: flex-end;
  flex-direction: column;
}
section .card .card-body:hover {
  opacity: 100;
}
section .card .card-body .card-text {
  display: flex;
  justify-self: center;
}
section .card .card-body .card-text p {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
section .card .card-body .card-text .btn {
  margin-right: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  color: #330d69;
  border-color: transparent;
  border-radius: 0.3rem;
  width: 50%;
}
section .card .card-body .card-text .btn:hover {
  background-color: #330d69;
  color: #FFFFFF;
}

.modal .modal-dialog {
  max-width: 1000px;
}
.modal .modal-content {
  background-color: rgba(0, 0, 0, 0.8);
}
.modal .modal-content .card-body {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
.modal .modal-content .card-body .card-text {
  display: flex;
  justify-content: flex-end;
}
.modal .modal-content .card-body .card-text .btn {
  margin-right: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  color: #330d69;
  border-color: transparent;
  border-radius: 0.3rem;
}
.modal .modal-content .card-body .card-text .btn:hover {
  background-color: #330d69;
  color: #FFFFFF;
}

#footer {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}

.footer-moveup {
  position: fixed;
  bottom: 0;
  right: 0;
}
.footer-moveup .footer-moveup-btn {
  text-transform: uppercase;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.5);
  color: #000000;
  box-shadow: 0 0 10px #000000;
  border: 1px solid #585858;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.footer-moveup .footer-switcher-btn:hover {
  color: #330d69;
}

.footer-copyright {
  width: 80%;
  margin: auto;
  display: flex;
  padding: 0;
  list-style: none;
  font-size: 0.8em;
  color: rgba(88, 88, 88, 0.5);
  margin: 0.5rem;
  line-height: 1;
}
.footer-copyright li {
  border-left: 1px solid rgba(88, 88, 88, 0.15);
  padding: 0 1em;
}
.footer-copyright li:first-child {
  border-left: 0;
}

@media (max-width: 500px) {
  nav .navbar-brand .navbar-title {
    display: none;
  }
  nav .navbar-search {
    width: 80%;
  }
  .modal-btn-helpers {
    display: none;
  }
}
@media (max-width: 768px) {
  #main {
    width: 100%;
  }
  #main .row {
    width: 100%;
    margin: 0px;
  }
  #header div.header-searchbox {
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 10px #000000;
    border-radius: 0.3rem;
    top: 40%;
  }
  #header h1 {
    color: #330d69;
    text-shadow: none;
    padding: 10px;
    font-size: 1em;
    line-height: initial;
    margin: 0;
  }
  #header p {
    font-size: 0.7em;
    margin: 0 0 1em;
  }
  .header-logo img {
    margin: 0 0 1em;
  }
  form {
    background-color: transparent;
    box-shadow: none;
  }
  form .form-row {
    width: 95%;
  }
  form .form-row div {
    padding: 0.5em;
  }
  section .card {
    width: 80%;
  }
  section .card img {
    width: 100%;
  }
  .footer-copyright {
    width: 95%;
    text-align: center;
    flex-direction: column;
    line-height: initial;
  }
  .footer-copyright li {
    border-left: 0;
  }
}
@media (min-width: 1200px) {
  #header nav {
    width: 1200px;
    margin: auto;
  }
  #header div.header-searchbox {
    width: 800px;
  }
  section.row {
    margin: 0;
    width: 1200px;
    margin: auto;
  }
  #footer {
    width: 1200px;
  }
  .footer-copyright {
    width: 1200px;
  }
}

/*# sourceMappingURL=App.css.map */
