// Importing FontAwesome for Icons
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css");
//@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,700,900");

* { box-sizing: border-box;}

body {
    text-align: center;
    //background-color: #FFFFFF;
    //background-size: cover;
    //background-position: center;
    //min-height: 100vh;
    //display: flex;
    //font-size: calc(10px + 2vmin);
    color: #000000;
}

#root {
    width: 100%;
    //display: flex;
    //justify-content: center;
}

#wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#main {
    width: 80%;
}

#header {

}

.header-logo img {
    width: 64px;
    height: 64px;
}

form {

}
// Images - Results Grid

section {
    justify-content: space-around;
}

section .card {
    width: 250px;
    height: 250px;
}

section .card img {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.card-body {
    display: none;
    background: rgba(250,250,250, 0.5);
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
}

section .card img:hover {
    .card-body{
        display: block;
    }
}

// FOOTER

#footer {
    padding: 1em 0;
    width: 100%;
    background-color: #F6F6F6;
}

.footer-credits {
    width: 80%;
    margin: auto;
}

.footer-credits img {
    width: 15%;
}

.footer-copyright {
    width: 80%;
    margin: auto;
    display: flex;
    padding: 0;
    list-style: none;
    font-size: .8em;
    color: rgba(88,88,88,.5);
    margin-top: 1em;
    line-height: 1;
}

.footer-copyright li {
    border-left: 1px solid rgba(88,88,88,.15);
    padding: 0 1em;
}

.footer-copyright li:first-child {
    border-left: 0;
}